.chakra-heading {
    color: black !important; 
  }
  
  .chakra-form__label {
    color: black !important; 
  }
  
  .chakra-input {
    color: black !important; 
  }
  
  .chakra-input::placeholder {
    color: gray !important; 
  }
  
  .chakra-modal__close-btn .chakra-icon path {
    fill: rgb(101, 15, 193) !important;
  }
  
  .step-title {
    color: black !important; 
  }
  
  .step-number {
    color: black !important; 
  }
  
  .step-icon {
    background-color: rgb(101, 15, 193) !important; 
    color: white !important; 
  }
  .chakra-step-indicator{
    background-color: rgb(101, 15, 193) !important; 
    color: rgb(101, 15, 193) !important;
  }
  
  .drawer-footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  