.carousel-item {
    position: relative;
    padding: 0 16px;
  }
  
  .carousel-image {
    width: 80%;
    height: 400px;
    width: 600px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    padding: 20px; 
    max-width: calc(100% - 40px);
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .carousel-item:hover .carousel-overlay {
    opacity: 1; 
  }
  
  .slick-prev,
  .slick-next {
    z-index: 1;
    color: rgba(0, 0, 0, 0.7); 
    transition: color 0.3s ease-in-out;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: rgba(0, 0, 0, 0.9); 
  }
  